<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes DB</title>
</head>

<body>
    <table>
        <h1>Clientes db</h1>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>